.card {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    &-recetas {
        background-image:linear-gradient(
            rgba(243, 251, 129, 0.655),
            rgba(0, 0, 0, 0.5)
          ), url("../../../Images/recetasFoto2.jpg");
        background-size: 350px;
        height: 250px;
    }
    &-rutinas {
        background-image:linear-gradient(
            rgba(243, 251, 129, 0.655),
            rgba(0, 0, 0, 0.5)
          ), url("../../../Images/rutinaFoto.jpg");
        background-size: 350px;
        height: 250px;
    }
    &-alimentos {
        background-image:linear-gradient(
            rgba(243, 251, 129, 0.655),
            rgba(0, 0, 0, 0.5)
          ), url("../../../Images/alimentosFoto.jpg");
        background-size: 350px;
        height: 250px;
    }
    &-calcular {
        background-image:linear-gradient(
            rgba(243, 251, 129, 0.655),
            rgba(0, 0, 0, 0.5)
          ), url("../../../Images/calcularFoto.jpg");
        background-size: 350px;
        height: 250px;
    }
    &-productos {
        background-image:linear-gradient(
            rgba(243, 251, 129, 0.655),
            rgba(0, 0, 0, 0.5)
          ), url("../../../Images/productosFoto.jpg");
        background-size: 350px;
        height: 250px;    }
    &-blog {
        background-color: purple;
    }
}
